<a href="https://colab.research.google.com/github/Watcharinkh/Data_viz/blob/main/Function_loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'วัชรินทร์'
surname = 'คำบาง'
ID = 6130209758

b = f'=ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

=ชื่อ วัชรินทร์ นามสกุล คำบาง รหัส 6130209758

### Function

#### function template
##### ทำหน้าที่รับ input มาประมวณผลมาเป็น output

f(x) = y

### def คือการกำหนดฟังก์ชัน

In [ ]:

def function_name(_Input_):
  do_something with _Input_ to get _Output_
  return _Output

  back tick ==> (),alt = 96
  tilde (~)
  curly bracket ({})
  square bracket ([])

function มีส่วนสำคัญ 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชันอะไร ``` def function_name():``` (ขาดไม่ได้) 
2. กำหนดตัวเเปรที่จะเป็น input ```_Input_```(ขาดได้) 
3. ส่วนประมวณผล ```do_something with _Input_ to get _Output_```(ขาดไม่ได้) 
4. ส่วน outut ```return _Output```(ขาดได้)

### ตัวอย่างการเขียน normal function

In [ ]:
def  print_name(name,surname,ID):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_name('วัชรินทร์','คำบาง','6130209758')

'ชื่อ วัชรินทร์ นามสกุล คำบาง รหัส 6130209758'

In [ ]:
print(print_name(name='วัชรินทร์',surname='คำบาง',ID=6130209758))

ชื่อ วัชรินทร์ นามสกุล คำบาง รหัส 6130209758

เราใช้ เว้นวรรค(indent)เพื่อบอกขอบเขตของโปรเเกรม

ฟังก์ชันไม่จำเป็นต้องมี output

In [ ]:
def  print_name2(name,surname,ID):
      st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
      print(st)

In [ ]:
print_name2(name='วัชรินทร์',surname='คำบาง',ID=6130209758)

ชื่อ วัชรินทร์ นามสกุล คำบาง รหัส 6130209758

ฟังก์ชันไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) #หาพื้นทีวงกลมที่มีรัศมี Pi * r^2

12.56637061436

เราสามารถกำหนดค่า default ให้กับฟังก์ชันได้ #default คือค่าเริ่มต้นที่กำหนดไว้เเละมีการเปลี่ยนเเปลงเกิดขึ้น

In [ ]:
def  print_2line_default(name,surname,ID,grade='F'):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)
  st2=f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

In [ ]:
print_2line_default('วัชรินทร์','คำบาง','6130209758')

ชื่อ วัชรินทร์ นามสกุล คำบาง รหัส 6130209758
เกรดวิชา Data Viz >>> F

In [ ]:
print_2line_default('วัชรินทร์','คำบาง','6130209758','A')

ชื่อ วัชรินทร์ นามสกุล คำบาง รหัส 6130209758
เกรดวิชา Data Viz >>> A

#Loop การวนซ้ำ

for เป็นคำบอก prthon ว่าเรากำลังเขียน loop โดย for จะวนดึงสมาชิกจาก  listA มาทำ process do_someting

In [ ]:
for each_member in listA :
  do_something

คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานวนซ้ำๆในจำนวนรอบที่เเน่นอน

In [ ]:
for i in [1,2,3] :
  o = i**2
  print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

In [ ]:
def Total_secondtime(time) :
  tm = time.split(':')
  total_sec = int(tm[0])*60*60+int(tm[1])*60+int(tm[2])
  tt_sec = f' {time} = {total_sec} s'
  print(tt_sec)

In [ ]:
Total_secondtime('12:30:15')

Total_secondtime('13:41:07')

Total_secondtime('12:53:15')

Total_secondtime('00:59:25')

Total_secondtime('11:11:11')

Total_secondtime('16:06:09')

 12:30:15 = 45015 s
 13:41:07 = 49267 s
 12:53:15 = 46395 s
 00:59:25 = 3565 s
 11:11:11 = 40271 s
 16:06:09 = 57969 s

### HW

ให้สร้าง list ของเวลา

12:30:15

13:41:07

12:53:15

00:59:25

11:11:11

16:06:09

เเล้ววนลูปเรียกฟังก์ชันคำนวณเวลาเป็นวินาที
*commit ว่า HW3

In [ ]:
time1 =['12:30:15', '13:41:07', '12:53:15', '00:59:25', ('00:59:25'), ('11:11:11'), ('16:06:09')]
for T in time1 :
  tm = T.split(':')
  total_sec = int(tm[0])*60*60+int(tm[1])*60+int(tm[2])
  tt_sec = f' {T} = {total_sec} s'
  print(tt_sec)

 12:30:15 = 45015 s
 13:41:07 = 49267 s
 12:53:15 = 46395 s
 00:59:25 = 3565 s
 00:59:25 = 3565 s
 11:11:11 = 40271 s
 16:06:09 = 57969 s

ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ

In [ ]:
for i in 'watcharin':
  print(f'{i} ->/' , end = ' ' ) #สั่งให้ print เเบบไม่เว้นบรรทัด

w ->/ a ->/ t ->/ c ->/ h ->/ a ->/ r ->/ i ->/ n ->/

In [ ]:
for i in 'watcharin':
  print(f'{i} ->/' , end = ', ' ) #สั่งให้ print เเบบไม่เว้นบรรทัด

w ->/, a ->/, t ->/, c ->/, h ->/, a ->/, r ->/, i ->/, n ->/,

## สร้าง list ตัวเลขเเบบอัติโนมัติ range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
  print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ  จจบเป็นวงกลมโปร่ง เหมืือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

###Loop in Loop

สามารถใช้ for loop ซ้อนกันสองรอบๆได้

In [ ]:
for name1 in range(2,5) : #(2, 3, 4) 
     print(f'now name1 = {name1}')
     for name2 in range(1,13) :
           print(name1,'x',name2, '=',name1*name2)
     print('the inner loop is end')

now name1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
the inner loop is end
now name1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
the inner loop is end
now name1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
the inner loop is end

###loop in function
การวนลูปในฟังก์ชั่น

In [ ]:
list_friend = ['one', 'two','three', 'four']

In [ ]:
def print_feelings(I,friends,feeling = 'คิดถึง'):
    for friend  in friends :
        print(f'{I} {feeling} {friend}')

In [ ]:
print_feelings('mit',list_friend,'love')

mit love one
mit love two
mit love three
mit love four

###conditional คือ เงื่อนไข /ประโยคเงื่อนไข

==, !=,>=,<=,<,>

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

In [ ]:
if condition1 :
    do something
elif condition2 : #elif คือ else if
    do another thing
else:
    do ...

In [ ]:
print(list_friend)

In [ ]:
for name1 in list_friend:
    for name2 in list_friend :
            print(name1,'รัก',name2)

In [ ]:
for name1 in list_friend:
    for name2 in list_friend :
        if name1 != name2:  #ไม่ปริ้นชื่อเดียวกันซ้ำ
            print(name1,'รัก',name2)

In [ ]:
for name1 in list_friend:
    for name2 in list_friend :
        if name1 == name2: 
          'do something'
        else:  
            print(name1,'รัก',name2)

###==, !=,>=,<=,<,>

In [ ]:
'one' == 'two'

False

In [ ]:
'one' != 'two'

True

หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดัง

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

In [ ]:
1 == 1

True

# HW
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด  input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [30]:
input = [1,50,65,90,101,-5,49]
def grade(score) :
  for score in input:
      if score < 0:
         print(f'คะเเนนน้อยกว่า 0 : error')
      elif  -1 < score < 50 :
         print(f'คะเเนนที่ได้ในเทอมนี้เท่ากับ {score} คะเเนน --> เกรด F')  
      elif 50 <= score < 55 :
         print(f'คะเเนนที่ได้ในเทอมนี้เท่ากับ {score} คะเเนน --> เกรด D')  
      elif 55 <= score < 60 :
         print(f'คะเเนนที่ได้ในเทอมนี้เท่ากับ {score} คะเเนน --> เกรด D+')
      elif 60 <= score < 65 :
         print(f'คะเเนนที่ได้ในเทอมนี้เท่ากับ {score} คะเเนน --> เกรด C')  
      elif 65 <= score < 70 :
        print(f'คะเเนนที่ได้ในเทอมนี้เท่ากับ {score} คะเเนน --> เกรด C+')
      elif 70 <= score < 75 :
         print(f'คะเเนนที่ได้ในเทอมนี้เท่ากับ {score} คะเเนน --> เกรด B')
      elif 75 <= score < 80 :
         print(f'คะเเนนที่ได้ในเทอมนี้เท่ากับ {score} คะเเนน --> เกรด B+')
      elif 80 <= score < 100 :
         print(f'คะเเนนที่ได้ในเทอมนี้เท่ากับ {score} คะเเนน --> เกรด A')
      elif 100 < score :
         print(f'คะเเนนมากกว่า 100 : error')
grade(score)

คะเเนนที่ได้ในเทอมนี้เท่ากับ 1 คะเเนน --> เกรด F
คะเเนนที่ได้ในเทอมนี้เท่ากับ 50 คะเเนน --> เกรด D
คะเเนนที่ได้ในเทอมนี้เท่ากับ 65 คะเเนน --> เกรด C+
คะเเนนที่ได้ในเทอมนี้เท่ากับ 90 คะเเนน --> เกรด A
คะเเนนมากกว่า 100 : error
คะเเนนน้อยกว่า 0 : error
คะเเนนที่ได้ในเทอมนี้เท่ากับ 49 คะเเนน --> เกรด F