<a href="https://colab.research.google.com/github/Watcharinkh/Data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

path = '/content/drive/My Drive/data_viz'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/data_viz/pm-18-jan-2021.csv

In [6]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/data_viz/pm-18-jan-2021.csv

### Load data to memory

In [8]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [9]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [10]:
data_covid.shape

(12423, 10)

### ชี้ค่าในตาราง

In [11]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [12]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

### .iloc

In [13]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

### Table slicing

#### ตัดมาเฉพาะ column ืัี้ต้องการ

In [14]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

#### ตัดเฉพาะ row  ที่ต้องการ

##### เเบบง่าย เเต่ใช้การอะไรไม่ค่อยได้ (มองเป็น array เเล้วตัดเเบบ array)

In [ ]:
data_covid.iloc[1:5,:]

##### เเบบ Advance เเต่ใช้ประโยชน์ได้เยอะกว่า (ตัดเเบบใช้ logic query)

In [31]:
data_covid[data_covid['province_of_onset'] == 'ขอนเเก่น']

Empty DataFrame
Columns: [No., announce_date, notification_date, sex, age, nationality, province_of_isolation, province_of_onset, district_of_onset, risk]
Index: []

In [ ]:
eight_row_covid = data_covid.iloc[:8,:]
eight_row_covid

In [28]:
eight_row_covid[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [29]:
eight_row_covid['province_of_onset'] == 'กรุงเทพมหานคร'

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [32]:
eight_row_covid[eight_row_covid['province_of_onset'] == 'ขอนเเก่น']

Empty DataFrame
Columns: [No., announce_date, notification_date, sex, age, nationality, province_of_isolation, province_of_onset, district_of_onset, risk]
Index: []

###HW 

1.คำนวณอายุเฉลี่ย ของผู้หญิงเเละผู้ชาย ของข้อมูลทั้งหมด

2.คำนวณ อายุเฉลี่ย ของผู้หญิงเเละผู้ชาย ของผู้ป่วยในจังหวัดขอนเเก่น

In [34]:
data_covid[data_covid['risk'] == 'คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

         No. announce_date  ... district_of_onset                              risk
0          1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1          2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2          3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3          4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4          5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...           ...  ...               ...                               ...
9852    9853      1/9/2021  ...            แม่สอด  คนต่างชาติเดินทางมาจากต่างประเทศ
10341  10342     1/11/2021  ...            แม่สอด  คนต่างชาติเดินทางมาจากต่างประเทศ
10616  10617     1/12/2021  ...          ปทุุมวัน  คนต่างชาติเดินทางมาจากต่างประเทศ
10619  10620     1/12/2021  ...            บางรัก  คนต่างชาติเดินทางมาจากต่างประเทศ
10620  10621     1/12/2021  ...             วัฒนา  คนต่างชาติเดินทางมาจากต่างประเทศ

[155 rows x 10 columns]