<a href="https://colab.research.google.com/github/Watcharinkh/Data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

path = '/content/drive/My Drive/data_viz'

In [ ]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/data_viz/pm-18-jan-2021.csv

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

#.isnull?? None??

In [ ]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

#.any() เอาค่าความจริงภายในเเต่ละคอลัมน์มา  ORกัน

In [ ]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

#.all() เอาค่าความจริงภายในเเต่ละคอลัมน์มา  AND กัน

In [ ]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [ ]:
data_covid.iloc[0,0].isnull()

AttributeError: ignored

In [ ]:
data_covid['No. '][0].isnull()

KeyError: ignored

In [ ]:
data_covid.iloc[0,0]

1

In [ ]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

##HW สร้างตารางใหม่ ที่ค่าใน ```sex``` เป็น missing ทั้งหมด

- สรุปค่าทำไม record นั้นๆถึงเป็น missing

### ต่อเเกนตาราง x เเกน y

- ต่อเเกน y คือ เพิ่ม record (การเพิ่มจำนนวนข้อมูล)
- ต่อเเกน x คือ เพิ่ม column (เพิ่มรายละเอียดข้อมูล)

###ต่อเเกน y pd.concat() ---รวม record หลายๆที่มาต่อกัน ----

In [ ]:
dataKK = data_covid[data_covid['province_of_onset']=='ขอนเเก่น']
dataKK.head()

Empty DataFrame
Columns: [No., announce_date, notification_date, sex, age, nationality, province_of_isolation, province_of_onset, district_of_onset, risk]
Index: []

In [ ]:
dataUT = data_covid[data_covid['province_of_onset']=='อุดรธานี']
dataUT.head()

     No.  ...                                         risk
424  425  ...                                      สนามมวย
434  435  ...                                  สถานบันเทิง
471  472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883  884  ...                                  สถานบันเทิง
885  886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [ ]:
dataMS = data_covid[data_covid['province_of_onset']=='มหาสารคาม']
dataMS.head()

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[4 rows x 10 columns]

In [ ]:
dataMYisan = pd.concat([dataKK,dataMS,dataUT])
dataMYisan

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร
424      425  ...                                      สนามมวย
434      435  ...                                  สถานบันเทิง
471      472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                  สถานบันเทิง
885      886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                  สถานบันเทิง
1059    1060  ...                คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                            Cluster สมุทรสาคร
7433    7434  ...                                Cluster ระยอง

[14 rows x 10 columns]

###ต่อเเกน x

- จับ 2 ตารางมาต่อกันเลย (merge)
- เลือกมาเพิ่มเฉพาะบางคอลัมน์ ()map

In [ ]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

         No. announce_date province_of_onset
0          1     1/12/2020     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12418  12419     1/18/2021       สมุทรปราการ
12419  12420     1/18/2021       สมุทรปราการ
12420  12421     1/18/2021            ชลบุรี
12421  12422     1/18/2021            ชลบุรี
12422  12423     1/18/2021             ระยอง

[12423 rows x 3 columns]

In [ ]:
data_human = data_covid[['No.','age','sex','nationality']]
data_human

         No.   age   sex nationality
0          1  61.0  หญิง       China
1          2  74.0  หญิง       China
2          3  73.0  หญิง    Thailand
3          4  68.0   ชาย       China
4          5  66.0  หญิง       China
...      ...   ...   ...         ...
12418  12419  28.0  หญิง    Thailand
12419  12420  27.0  หญิง    Thailand
12420  12421  10.0   ชาย    Thailand
12421  12422  52.0   ชาย    Thailand
12422  12423  51.0   ชาย    Thailand

[12423 rows x 4 columns]

เเบบง่าย รู้ว่า 2 ตาราง record ตรงกัน

In [ ]:
full_table1 = data_human.merge(data_province)
full_table1.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

### sort

In [ ]:
data_human2 = data_human.sort_values('age')
data_human2

         No.   age   sex nationality
1987    1988  0.10   ชาย    Thailand
6477    6478  0.11  หญิง    Thailand
11497  11498  0.11   ชาย       Burma
1675    1676  0.30   ชาย       Japan
1075    1076  0.40   ชาย    Thailand
...      ...   ...   ...         ...
12405  12406   NaN   NaN         NaN
12406  12407   NaN   NaN         NaN
12407  12408   NaN   NaN         NaN
12408  12409   NaN   NaN         NaN
12409  12410   NaN   NaN         NaN

[12423 rows x 4 columns]

In [ ]:
full_table2 = data_human2.merge(data_province)
full_table2.head()

     No.   age   sex nationality announce_date province_of_onset
0   1988  0.10   ชาย    Thailand      4/4/2020             ระยอง
1   6478  0.11  หญิง    Thailand    12/30/2020          เพชรบุรี
2  11498  0.11   ชาย       Burma     1/16/2021         สมุทรสาคร
3   1676  0.30   ชาย       Japan      4/1/2020     กรุงเทพมหานคร
4   1076  0.40   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี

In [ ]:
data_human2_rename = data_human2.rename(columns={'No.': 'patientNumber'})
data_human2_rename.head()

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
6477            6478  0.11  หญิง    Thailand
11497          11498  0.11   ชาย       Burma
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand

In [ ]:
data_human2_rename.merge(data_province)

MergeError: ignored

In [ ]:
full_table3 = data_human2_rename.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3.head()

   patientNumber   age   sex nationality    No. announce_date province_of_onset
0           1988  0.10   ชาย    Thailand   1988      4/4/2020             ระยอง
1           6478  0.11  หญิง    Thailand   6478    12/30/2020          เพชรบุรี
2          11498  0.11   ชาย       Burma  11498     1/16/2021         สมุทรสาคร
3           1676  0.30   ชาย       Japan   1676      4/1/2020     กรุงเทพมหานคร
4           1076  0.40   ชาย    Thailand   1076     3/27/2020      สุราษฎร์ธานี

In [ ]:
full_table3 = data_human2_rename.merge(data_covid,how='left',left_on=' age',right_on='age')
full_table3.head()

KeyError: ignored

### map() เลือกมาเฉพาะบางคอลัมน์มาเพิ่มเข้าไป

In [ ]:
data_human2_rename.head()

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
6477            6478  0.11  หญิง    Thailand
11497          11498  0.11   ชาย       Burma
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ได้ โดย

```df('ชื่อ column ใหม่') = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ขของ df)```

In [ ]:
data_human2_rename.head()

       patientNumber  ...                                       detail
1987            1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477            6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497          11498  ...                            Cluster สมุทรสาคร
1675            1676  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 5 columns]

In [ ]:
data_human2_rename['num'] = range(data_human2_rename.shape[0])
data_human2_rename

       patientNumber   age  ...                                       detail    num
1987            1988  0.10  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      0
6477            6478  0.11  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      1
11497          11498  0.11  ...                            Cluster สมุทรสาคร      2
1675            1676  0.30  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      3
1075            1076  0.40  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      4
...              ...   ...  ...                                          ...    ...
12405          12406   NaN  ...                            Cluster สมุทรสาคร  12418
12406          12407   NaN  ...                            Cluster สมุทรสาคร  12419
12407          12408   NaN  ...                            Cluster สมุทรสาคร  12420
12408          12409   NaN  ...                            Cluster สมุทรสาคร  12421
12409          12410   NaN  ...                            Cluster สมุทรสาคร  12422

[12423 rows x 6 columns]

In [ ]:
data_human2_rename['detail'] = data_human2_rename['patientNumber'].map(data_covid.set_index('No.')['risk']) #.map() มัจจะถูกค่า 'patientNumber' กับ  'No' เข้าด้วยกัน เเล้ว return list ของค่า [risk]
data_human2_rename

       patientNumber   age  ...                                       detail    num
1987            1988  0.10  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      0
6477            6478  0.11  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      1
11497          11498  0.11  ...                            Cluster สมุทรสาคร      2
1675            1676  0.30  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      3
1075            1076  0.40  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้      4
...              ...   ...  ...                                          ...    ...
12405          12406   NaN  ...                            Cluster สมุทรสาคร  12418
12406          12407   NaN  ...                            Cluster สมุทรสาคร  12419
12407          12408   NaN  ...                            Cluster สมุทรสาคร  12420
12408          12409   NaN  ...                            Cluster สมุทรสาคร  12421
12409          12410   NaN  ...                            Cluster สมุทรสาคร  12422

[12423 rows x 6 columns]

In [ ]:
data_human2_rename['patientNumber'].map(data_covid.set_index('No.')['risk'])

1987     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497                              Cluster สมุทรสาคร
1675     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
                            ...
12405                              Cluster สมุทรสาคร
12406                              Cluster สมุทรสาคร
12407                              Cluster สมุทรสาคร
12408                              Cluster สมุทรสาคร
12409                              Cluster สมุทรสาคร
Name: patientNumber, Length: 12423, dtype: object

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

path = '/content/drive/My Drive/data_viz'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/data_viz/pm-18-jan-2021.csv

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

##HW สร้างตารางใหม่ ที่ค่าใน ```sex``` เป็น missing ทั้งหมด

- สรุปค่าทำไม record นั้นๆถึงเป็น missing

In [13]:
data_s = data_covid[['No.','announce_date','sex']]
data_s

         No. announce_date   sex
0          1     1/12/2020  หญิง
1          2     1/17/2020  หญิง
2          3     1/22/2020  หญิง
3          4     1/22/2020   ชาย
4          5     1/24/2020  หญิง
...      ...           ...   ...
12418  12419     1/18/2021  หญิง
12419  12420     1/18/2021  หญิง
12420  12421     1/18/2021   ชาย
12421  12422     1/18/2021   ชาย
12422  12423     1/18/2021   ชาย

[12423 rows x 3 columns]

In [14]:
this_data_update = data_s.fillna(value={'sex':'NaN'})
print(this_data_update.head())

   No. announce_date   sex
0    1     1/12/2020  หญิง
1    2     1/17/2020  หญิง
2    3     1/22/2020  หญิง
3    4     1/22/2020   ชาย
4    5     1/24/2020  หญิง

In [19]:
data_missing_sex = this_data_update[this_data_update['sex']=='NaN']
data_missing_sex

         No. announce_date  sex
4391    4392    12/20/2020  NaN
4392    4393    12/20/2020  NaN
4393    4394    12/20/2020  NaN
4394    4395    12/20/2020  NaN
4395    4396    12/20/2020  NaN
...      ...           ...  ...
12405  12406     1/18/2021  NaN
12406  12407     1/18/2021  NaN
12407  12408     1/18/2021  NaN
12408  12409     1/18/2021  NaN
12409  12410     1/18/2021  NaN

[2497 rows x 3 columns]

In [21]:
data_s = data_covid[['No.','announce_date','sex']]
this_data_update = data_s.fillna(value={'sex':'NaN'})
data_missing_sex = this_data_update[this_data_update['sex']=='NaN']
data_missing_sex

         No. announce_date  sex
4391    4392    12/20/2020  NaN
4392    4393    12/20/2020  NaN
4393    4394    12/20/2020  NaN
4394    4395    12/20/2020  NaN
4395    4396    12/20/2020  NaN
...      ...           ...  ...
12405  12406     1/18/2021  NaN
12406  12407     1/18/2021  NaN
12407  12408     1/18/2021  NaN
12408  12409     1/18/2021  NaN
12409  12410     1/18/2021  NaN

[2497 rows x 3 columns]

- สรุปค่าทำไม record นั้นๆถึงเป็น missing

คาดว่าผู้ที่ทำการกรอกข้อมูลอาจไม่ใช่คนเดียวกันหรือข้อมูลจำนวนในเคสรายวันมีอัตราสูงมากซึ่งไม่สามารถทำให้สามารถใส่ข้อมูลทั้งหมดได้เเละข้อมูลจะอัปเดตรายวันจึงทำให้ค่ามูลเกิด missing ได้