<a href="https://colab.research.google.com/github/Watcharinkh/Data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

path = '/content/drive/My Drive/data_viz'

In [ ]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/data_viz/pm-18-jan-2021.csv

In [ ]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/data_viz/pm-18-jan-2021.csv

### Load data to memory

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_covid.shape

(12423, 10)

### ชี้ค่าในตาราง

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

### .iloc

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

### Table slicing

#### ตัดมาเฉพาะ column ืัี้ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

#### ตัดเฉพาะ row  ที่ต้องการ

##### เเบบง่าย เเต่ใช้การอะไรไม่ค่อยได้ (มองเป็น array เเล้วตัดเเบบ array)

In [ ]:
data_covid.iloc[1:5,:]

##### เเบบ Advance เเต่ใช้ประโยชน์ได้เยอะกว่า (ตัดเเบบใช้ logic query)

In [ ]:
data_covid[data_covid['province_of_onset'] == 'ขอนเเก่น']

Empty DataFrame
Columns: [No., announce_date, notification_date, sex, age, nationality, province_of_isolation, province_of_onset, district_of_onset, risk]
Index: []

In [ ]:
eight_row_covid = data_covid.iloc[:8,:]
eight_row_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [ ]:
eight_row_covid[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_row_covid['province_of_onset'] == 'กรุงเทพมหานคร'

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_row_covid[eight_row_covid['province_of_onset'] == 'ขอนเเก่น']

Empty DataFrame
Columns: [No., announce_date, notification_date, sex, age, nationality, province_of_isolation, province_of_onset, district_of_onset, risk]
Index: []

###HW 

1.คำนวณอายุเฉลี่ย ของผู้หญิงเเละผู้ชาย ของข้อมูลทั้งหมด

2.คำนวณ อายุเฉลี่ย ของผู้หญิงเเละผู้ชาย ของผู้ป่วยในจังหวัดขอนเเก่น

In [ ]:
data_covid[data_covid['risk'] == 'คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

In [ ]:
table = data_covid[['sex','age','province_of_onset']] 
s0 = table[table['sex']=='ชาย']
am = s0[['age']]
m = am.dropna()
M = m.values

sum = 0
for i in M :
     sum = float (sum + i)
     Mean_m = sum/len(M)

print(f'อายุเฉลี่ยของผู้ชายทั้งหมด = {Mean_m} ปี')

s1 = table[table['sex']=='หญิง']
aw = s1[['age']]
w = aw.dropna()
wm = w.values

sum1 = 0
for i in wm :
     sum1 = float (sum1 + i)
     Mean_w = sum1/len(wm)     

print(f'อายุเฉลี่ยของผู้หญิงทั้งหมด = {Mean_w} ปี')

อายุเฉลี่ยของผู้ชายทั้งหมด = 39.55682775996335 ปี
อายุเฉลี่ยของผู้หญิงทั้งหมด = 36.70788295640009 ปี

In [ ]:
s_k = table[table['province_of_onset']=='ขอนแก่น']
sx0 = s_k[s_k['sex']=='ชาย']
Km = sx0[['age']]
KKm = Km.dropna()
mm2 = KKm.values

sum2 = 0
for i in mm2 :
     sum2 = float (sum2 + i)
     Mean_kkm = sum2/len(mm2) 

print(f'อายุเฉลี่ยผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = {Mean_kkm} ปี')

sx1 = s_k[s_k['sex']=='หญิง']
Kw = sx1[['age']]
KKw = Kw.dropna()
ww2 = KKw.values

sum02 = 0
for i in ww2 :
     sum02 = float (sum02 + i)
     Mean_kkw = sum02/len(ww2)

print(f'อายุเฉลี่ยผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = {Mean_kkw} ปี')

อายุเฉลี่ยผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = 26.571428571428573 ปี
อายุเฉลี่ยผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = 41.57142857142857 ปี

###เฉลย

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [ ]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [ ]:
sum = 0
N = 0
for a in female['age']:

  if a > 0:
       sum += a #sum = sum+a
       N += 1
print(sum/N)

36.70788295640009

In [ ]:
female_KK = female[female['province_of_onset'=='ขอนเเก่น']]

In [ ]:
sum = 0
N = 0
for a in female_KK['age']:

  if a > 0:
       sum += a #sum = sum+a
       N += 1
print(sum/N)

NameError: ignored

### การจัดการ Missing Value

- ลบ record ที่เป็น missing
- เเทนที่ าค่า missing ด้วยค่าที่เหมาะสม เช่น mean, default, category-unknow
- ใช้ค่าจจาก coluymn อื่น ประมาณค่า ค่าใน column ที่หายไป(regression, deep learning, ect.)

#### ลบ record (drop_na)

missing = ```None ```  ```NA ```(not autorized)  ```NaN ```(not a number)

In [ ]:
this_data.shape

(12423, 3)

In [ ]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [ ]:
this_data.dropna().shape

(8253, 3)

In [ ]:
this_data.dropna()

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[8253 rows x 3 columns]

In [ ]:
this_data.dropna()
print(this_data.shape)

(12423, 3)

In [ ]:
this_data.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [ ]:
this_data.dropna(subset=['age']).shape

(8656, 3)

#### เเทนค่า missing ด้วยยค่าที่่เหมาะสม(fillna)

In [ ]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [ ]:
print(f' จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f' จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]} ')

 จำนวน record ก่อน drop missing ใน province 12423
 จำนวน record หลัง drop missing ใน province 10432

In [ ]:
this_data_update = this_data.fillna(value={'sex':'ไม่รู้', 'age':-1, 'province_of_onset':'ไม่รู้'})
print(this_data_update.head())

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [ ]:
this_data_update[this_data_update['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [ ]:
data_covid[this_data_update['province_of_onset']=='ไม่รู้']

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [ ]:
this_data_update_2 = this_data.fillna(value={ 'province_of_onset':'ไม่รู้'})

การวนลูป record ในตาราง (```iterrows```)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [ ]:
for each_row in this_data.iterrows():
    #print(each_row)
    #print(each_row[1])
    if each_row['age'] == 20 and (each_row['province_of_onset']=='ขอนแก่น'):
       print(each_row).

SyntaxError: ignored

### การวนลูป เเบบมองตารางเเพนด้า(pandas dataframe) เป็น numpy array (.iloc)

In [ ]:
this_data1 = data_covid[['sex','age','announce_date','province_of_onset']]

In [ ]:
this_data1.head()

In [ ]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row, 1] == 20) and (this_data.iloc[each_row, 2] =='ขอนเเก่น'): #each row คือ ตัวเลข
       print(this_data.iloc[each_row,:])

In [ ]:
print(this_data.iloc[each_row,:])

sex                    ชาย
age                     51
province_of_onset    ระยอง
Name: 12422, dtype: object

ตัดตารางออกมาเฉพาะปี 2021 ````annonce_data```` ในปี 2021

- วนลูปหา index ของปี 2021
- ตัดตารางมาเฉพาะปี 2021

In [ ]:

for each_row in range(this_data1.shape[0]):
    #print(this_data1.iloc[each_row,2]
    if (this_data1.iloc[each_row,2] == '1/1/2021' ) :
       print(this_data1.iloc[6884:,:])

In [ ]:
S = this_data1.iloc[6884:,:]
S

เฉลยQUIZ

In [ ]:
TF = list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
       TF.append(True)
    else:
       TF.append(False)
data_covid[TF].head()

Function ตัวช่วยใน pandas
.describe() คำนวณสถิติของข้อมูลโดยไม่สนใจ missing

In [ ]:
data_covid.describe()

.mean() คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [ ]:
data_covid[data_covid['sex']=='ชาย'].mean()

In [ ]:
data_covid.isnull()