<a href="https://colab.research.google.com/github/Watcharinkh/Data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
import os

path = '/content/drive/My Drive/data_viz'

In [12]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/data_viz/pm-18-jan-2021.csv

In [13]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/data_viz/pm-18-jan-2021.csv

### Load data to memory

In [14]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_covid.shape

(12423, 10)

### ชี้ค่าในตาราง

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

### .iloc

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

### Table slicing

#### ตัดมาเฉพาะ column ืัี้ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

#### ตัดเฉพาะ row  ที่ต้องการ

##### เเบบง่าย เเต่ใช้การอะไรไม่ค่อยได้ (มองเป็น array เเล้วตัดเเบบ array)

In [ ]:
data_covid.iloc[1:5,:]

##### เเบบ Advance เเต่ใช้ประโยชน์ได้เยอะกว่า (ตัดเเบบใช้ logic query)

In [ ]:
data_covid[data_covid['province_of_onset'] == 'ขอนเเก่น']

Empty DataFrame
Columns: [No., announce_date, notification_date, sex, age, nationality, province_of_isolation, province_of_onset, district_of_onset, risk]
Index: []

In [ ]:
eight_row_covid = data_covid.iloc[:8,:]
eight_row_covid

In [ ]:
eight_row_covid[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_row_covid['province_of_onset'] == 'กรุงเทพมหานคร'

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_row_covid[eight_row_covid['province_of_onset'] == 'ขอนเเก่น']

Empty DataFrame
Columns: [No., announce_date, notification_date, sex, age, nationality, province_of_isolation, province_of_onset, district_of_onset, risk]
Index: []

###HW 

1.คำนวณอายุเฉลี่ย ของผู้หญิงเเละผู้ชาย ของข้อมูลทั้งหมด

2.คำนวณ อายุเฉลี่ย ของผู้หญิงเเละผู้ชาย ของผู้ป่วยในจังหวัดขอนเเก่น

In [ ]:
data_covid[data_covid['risk'] == 'คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

In [23]:
table = data_covid[['sex','age','province_of_onset']] 
s0 = table[table['sex']=='ชาย']
am = s0[['age']]
m = am.dropna()
M = m.values

sum = 0
for i in M :
     sum = float (sum + i)
     Mean_m = sum/len(M)

print(f'อายุเฉลี่ยของผู้ชายทั้งหมด = {Mean_m} ปี')

s1 = table[table['sex']=='หญิง']
aw = s1[['age']]
w = aw.dropna()
wm = w.values

sum1 = 0
for i in wm :
     sum1 = float (sum1 + i)
     Mean_w = sum1/len(wm)     

print(f'อายุเฉลี่ยของผู้หญิงทั้งหมด = {Mean_w} ปี')

อายุเฉลี่ยของผู้ชายทั้งหมด = 39.55682775996335 ปี
อายุเฉลี่ยของผู้หญิงทั้งหมด = 36.70788295640009 ปี

In [26]:
s_k = table[table['province_of_onset']=='ขอนแก่น']
sx0 = s_k[s_k['sex']=='ชาย']
Km = sx0[['age']]
KKm = Km.dropna()
mm2 = KKm.values

sum2 = 0
for i in mm2 :
     sum2 = float (sum2 + i)
     Mean_kkm = sum2/len(mm2) 

print(f'อายุเฉลี่ยผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = {Mean_kkm} ปี')

sx1 = s_k[s_k['sex']=='หญิง']
Kw = sx1[['age']]
KKw = Kw.dropna()
ww2 = KKw.values

sum02 = 0
for i in ww2 :
     sum02 = float (sum02 + i)
     Mean_kkw = sum02/len(ww2)

print(f'อายุเฉลี่ยผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = {Mean_kkw} ปี')

อายุเฉลี่ยผู้ชายของผู้ป่วยในจังหวัดขอนแก่น = 26.571428571428573 ปี
อายุเฉลี่ยผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น = 41.57142857142857 ปี