<a href="https://colab.research.google.com/github/Watcharinkh/Data_viz/blob/main/Q5(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [18]:
Q5  = pd.read_csv('search_click.csv')
Q5

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]

เปรียบเทียบเวลาเฉลี่ยทีทใช้ในการกดเลือกร้าน  
time_diff_nanos ระหว่างช่วงเวลา 10.00-10.59 น. กับ 23.00-23.59 น. ว่าช่วงเวลาไหนมี 
time_diff_nanos น้อยกว่ากัน

In [10]:
from datetime import datetime,time

In [13]:
a = time(hour = 10, minute = 00, second = 00)
print("a =", a)

# time(hour, minute, second, microsecond)
b = time(10, 59, 00,00)
print("b =", b)
c = time(hour = 23, minute = 00, second = 00)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(23, 59, 00,00)
print("d =", d)

a = 10:00:00
b = 10:59:00
c = 23:00:00
d = 23:59:00

In [20]:
import pandas as pd

In [21]:
Q5[Q5['click_timestamp']=='10:00.00']

Empty DataFrame
Columns: [click_timestamp, search_id, business_id, display_position, time_diff_nanos, ads]
Index: []

In [25]:
Q5_1  = pd.read_csv('/content/example_timestamp.csv')
Q5_1

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

เปรียบเทียบผลรวม  alpha	กับ beta ของข้อมูล ก่อนเเละตั้งเเต่ วันที่ 2 มิ.ย 2020

In [27]:
df = Q5_1.iloc[:4]
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28

In [32]:
hh = df.iloc[:4,1:]
hh

   alpha  beta
0   8.78    24
1  13.00    25
2   0.44    25
3   1.94    28

In [28]:
df2 = Q5_1.iloc[4:]
df2

   Unnamed: 0  alpha  beta
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16