<a href="https://colab.research.google.com/github/Watcharinkh/Data_viz/blob/main/Q5(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
Q5  = pd.read_csv('search_click.csv')
Q5

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]

เปรียบเทียบเวลาเฉลี่ยทีทใช้ในการกดเลือกร้าน  
time_diff_nanos ระหว่างช่วงเวลา 10.00-10.59 น. กับ 23.00-23.59 น. ว่าช่วงเวลาไหนมี 
time_diff_nanos น้อยกว่ากัน

In [ ]:
from datetime import datetime,time

In [ ]:
a = time(hour = 10, minute = 00, second = 00)
print("a =", a)

# time(hour, minute, second, microsecond)
b = time(10, 59, 00,00)
print("b =", b)
c = time(hour = 23, minute = 00, second = 00)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(23, 59, 00,00)
print("d =", d)

a = 10:00:00
b = 10:59:00
c = 23:00:00
d = 23:59:00

In [ ]:
Q5[Q5['click_timestamp']=='10:00.00']

Empty DataFrame
Columns: [click_timestamp, search_id, business_id, display_position, time_diff_nanos, ads]
Index: []

In [3]:
import pandas as pd

In [5]:
Q5_1  = pd.read_csv('/content/example_timestamp.csv')
Q5_1

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

เปรียบเทียบผลรวม  alpha	กับ beta ของข้อมูล ก่อนเเละตั้งเเต่ วันที่ 2 มิ.ย 2020

In [6]:
df = Q5_1.iloc[:4]
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28

In [7]:
hh = df.iloc[:4,1:].sum()
hh

alpha     24.16
beta     102.00
dtype: float64

In [8]:
df2 = Q5_1.iloc[4:]
df2

   Unnamed: 0  alpha  beta
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [9]:
hh1 = df2.iloc[:,1:].sum()
hh1

alpha    13.72
beta     57.00
dtype: float64

ของเพื่อน

In [10]:

this_before = Q5_1[Q5_1['Unnamed: 0']< '2020-06-02']
this_before.sum()

Unnamed: 0    2020-05-292020-05-302020-05-312020-06-01
alpha                                            24.16
beta                                               102
dtype: object

In [11]:
this_after = Q5_1[Q5_1['Unnamed: 0'] >= '2020-06-02']
this_after.sum()

Unnamed: 0    2020-06-022020-06-032020-06-04
alpha                                  13.72
beta                                      57
dtype: object

ของอาจารย์

In [14]:
import pandas as pd

In [15]:
data  =  pd.read_csv('/content/example_timestamp.csv')

In [16]:
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [17]:
data.iloc[0,0]

'2020-05-29'

In [29]:
from datetime import datetime

In [36]:
data['Unnamed: 0'] = pd.to_datetime(data['Unnamed: 0'], format='%Y-%m-%d')
data

  Unnamed: 0  alpha  beta
0 2020-05-29   8.78    24
1 2020-05-30  13.00    25
2 2020-05-31   0.44    25
3 2020-06-01   1.94    28
4 2020-06-02   5.40    20
5 2020-06-03   5.68    21
6 2020-06-04   2.64    16

In [19]:
data.iloc[0,0]

'2020-05-29'

In [32]:
data[data['Unnamed: 0']<datetime(day=2,month=6,year=2020)].sum()

alpha     24.16
beta     102.00
dtype: float64

In [33]:
A = data[data['Unnamed: 0']<datetime(day=2,month=6,year=2020)].sum()
print(A)

alpha     24.16
beta     102.00
dtype: float64

In [34]:
A['alpha']

24.160000000000004

In [35]:
data[data['Unnamed: 0']>=datetime(day=2,month=6,year=2020)].sum()

alpha    13.72
beta     57.00
dtype: float64